body {
	height: 356px;
	text-align: center;
}
body, header, nav, footer, article, aside {
	position: absolute;
}

body, header, nav, footer {
	width: 800px;
}

header, nav, footer {
	height: 30px;
}

article, section {
	width: 533px;
}

body, a {
	color: white;
}

header {
	background-color: blue;
}

nav, footer {
	background-color: green;
}

li {
	display: inline;
}

article {
	background-color: pink;
}

section {
	height: 60px;
	margin: 5px 0;
	background-color: brown;
}

aside {
	width: 267px;
	right: 0;
	background-color: cyan;
}

article, aside {
	height: 266px;
}

nav {
	top: 30px;
}

article, aside {
	top: 60px;
}

footer {
	bottom: 0;
}